<!DOCTYPE html>
<!-- saved from url=(0049)@Url.Action("index","website") -->
<html lang="en" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>The Bourne Resto Bar</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="Resort Inn Responsive , Smartphone Compatible web template , Samsung, LG, Sony Ericsson, Motorola web design">
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/The Bourne Resto Bar_files/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/The Bourne Resto Bar_files/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/The Bourne Resto Bar_files/chocolat.css" type="text/css" media="screen">
    <link href="~/The Bourne Resto Bar_files/easy-responsive-tabs.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/The Bourne Resto Bar_files/flexslider.css" type="text/css" media="screen" property="">
    <link rel="stylesheet" href="~/The Bourne Resto Bar_files/jquery-ui.css">
    <link href="~/The Bourne Resto Bar_files/style.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/The Bourne Resto Bar_files/modernizr-2.6.2.min.js"></script>
    <!--fonts-->
    <link href="~/The Bourne Resto Bar_files/css(1).css" rel="stylesheet">
    <link href="~/The Bourne Resto Bar_files/css(2).css" rel="stylesheet">
    <link href="~/The Bourne Resto Bar_files/css(3).css" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!-- header -->
    <div class="banner-top">
        <div class="social-bnr-agileits">
            <ul class="social-icons3">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook icon-border facebook"> </a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter icon-border twitter"> </a></li>
                <li><a href="https://plus.google.com/u/0/" class="fa fa-google-plus icon-border googleplus"> </a></li>
            </ul>
        </div>
        <div class="contact-bnr-w3-agile">
            <ul>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">bourneplace@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+63 (917)7574515</li>
                <li class="s-bar">
                    <div class="search">
                        <input class="search_box" type="checkbox" id="search_box">
                        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                        <div class="search_form">
                            <form action="@Url.Action("index","website")#" method="post">
                                <input type="search" name="Search" placeholder=" " required=" ">
                                <input type="submit" value="Search">
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="w3_navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="@Url.Action("index","website")">THE <span>BOURNE PLACE</span><p class="logo_w3l_agile_caption">The Resto Bar you can call Home</p></a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="menu menu--iris">
                        <ul class="nav navbar-nav menu__list">
                            <li class="menu__item menu__item--current"><a href="@Url.Action("index","website")" class="menu__link">Home</a></li>
                            <li class="menu__item"><a href="@Url.Action("index","website")#about" class="menu__link scroll">About</a></li>
                            <li class="menu__item"><a href="@Url.Action("index","website")#gallery" class="menu__link scroll">Gallery</a></li>
                            <li class="menu__item"><a href="@Url.Action("index","website")#contact" class="menu__link scroll">Contact Us</a></li>
                            <li class="menu__item"><a href="@Url.Action("index","home")" class="menu__link">Reserve Seats</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div id="home" class="w3ls-banner">
        <!-- banner-text -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">
                        <div class="w3layouts-banner-top">

                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>The Bourne Place</h4>
                                    <h3>We know what you love</h3>
                                    <p>It's only fun and excitement here</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="@Url.Action("index","website")#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="callbacks1_s1" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
                        <div class="w3layouts-banner-top w3layouts-banner-top1">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>THE BOURNE PLACE</h4>
                                    <h3>Stay with friends &amp; families</h3>
                                    <p>Come &amp; enjoy precious moment with us</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="@Url.Action("index","website")#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="callbacks1_s2" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
                        <div class="w3layouts-banner-top w3layouts-banner-top2">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>THE BOURNE PLACE</h4>
                                    <h3>want to celebrate with imporant people?</h3>
                                    <p>Reserve your table today</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="@Url.Action("index","website")#" class="menu__link" data-toggle="modal" data-target="#myModal">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1 callbacks_here"><a href="@Url.Action("index","website")#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="@Url.Action("index","website")#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3"><a href="@Url.Action("index","website")#" class="callbacks1_s3">3</a></li></ul>
            </div>
            <div class="clearfix"> </div>
            <!--banner Slider starts Here-->
        </div>
        <div class="thim-click-to-bottom">
            <a href="@Url.Action("index","website")#about" class="scroll">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- //banner -->
    <!--//Header-->
    <!-- //Modal1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>THE  <span>BOURNE PLACE</span></h4>
                    <img src="~/The Bourne Resto Bar_files/1.jpg" alt=" " class="img-responsive">
                    <h5>Is where you belong</h5>
                    <p>Here at Bourne, you know you're at home!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <div id="availability-agileits">
        <div class="col-md-12 book-form-left-w3layouts">
            <a href="@Url.Action("index","home")"><h2>CLICK HERE FOR RESERVATIONS</h2></a>
        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <div class="agileits_banner_bottom">
                <h3><span>Experience moments like no other</span> with people who matter to you the most</h3>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <ul class="cbp-ig-grid">
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <h4 class="cbp-ig-title">COMPETITIVE LOCATION</h4>
                            <span class="cbp-ig-category">THE BOURNE PLACE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_users"></span>
                            <h4 class="cbp-ig-title">LIQUOR FRIENDLY PLACE</h4>
                            <span class="cbp-ig-category">THE BOURNE PLACE</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_ticket"></span>
                            <h4 class="cbp-ig-title">WIFI COVERAGE</h4>
                            <span class="cbp-ig-category">THE BOURNE PLACE</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- /about -->
    <div class="about-wthree" id="about">
        <div class="container">
            <div class="ab-w3l-spa">
                <h3 class="title-w3-agileits title-black-wthree">About the Resto Bar</h3>
                <p class="about-para-w3ls">One of the biggest Resto Bars you can encounter in the heart of Manila. Guarantees you a great time if you come to us.</p>
                <img src="~/The Bourne Resto Bar_files/a2.jpg" class="img-responsive" alt="Hair Salon">
                <div class="w3l-slider-img">
                    <img src="~/The Bourne Resto Bar_files/about.jpeg" class="img-responsive" alt="Hair Salon">

                </div>

                <div class="w3ls-info-about">
                    <h4>You'll love the people that come to our place!</h4>
                    <p>Lorem ipsum dolor sit amet, ut magna aliqua. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about -->
    <!--sevices-->
    <div class="advantages">
        <div class="container">
            <div class="advantages-main">
                <h3 class="title-w3-agileits">Our Services</h3>
                <div class="advantage-bottom">
                    <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" data-wow-delay="0.3s">
                        <div class="advantage-block ">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <h4>Stay First, Pay After! </h4>
                            <p>We want you to enjoy first at our bar for so enjoy yourselves first before thinking about the money.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Karaoke</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Beer Pong</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>and a lot more...</p>

                        </div>
                    </div>
                    <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" data-wow-delay="0.3s">
                        <div class="advantage-block">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <h4>Friendly Service Time Operation</h4>
                            <p>We operate at a very convenient time for people who wants to come early or late already</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Service Operation: 2:00PM - 4:00PM</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//sevices-->
    <!-- Gallery -->
    <section class="portfolio-w3ls" id="gallery">
        <h3 class="title-w3-agileits title-black-wthree">Our Gallery</h3>




        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/g4.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/g4.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/g5.jpeg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/g5.jpeg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/g6.jpeg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/g6.jpeg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/g9.jpeg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/g9.jpeg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/J.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/J.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/c.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/c.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="http://gjsibayan-001-site1.atempurl.com/images2/y.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/y.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/g.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/g.jpg" class="img-responsive" alt="/">
            </a>
        </div>

        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/sayaw.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/sayaw.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/hehe.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/hehe.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/crowd.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/crowd.jpg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/about.jpeg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/about.jpeg" class="img-responsive" alt="/">
            </a>
        </div>
        <div class="col-md-3 gallery-grid gallery1">
            <a href="~/The Bourne Resto Bar_files/group.jpg" class="swipebox">
                <img src="~/The Bourne Resto Bar_files/group.jpg" class="img-responsive" alt="/">
            </a>
        </div>





        <div class="clearfix"> </div>
    </section>
    <!-- //gallery -->
    <!-- contact -->
    <section class="contact-w3ls" id="contact">
        <div class="container">

            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-left">
                <h4>Connect With Us</h4>
                <p class="contact-agile1"><strong>Phone :</strong>(+63)90998278</p>
                <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">thebourneplace@gmail.com</a></p>
                <p class="contact-agile1"><strong>Address :</strong> Taft Avenue, Malate, Manila</p>

                <div class="social-bnr-agileits footer-icons-agileinfo">
                    <ul class="social-icons3">
                        <li><a href="@Url.Action("index","website")#" class="fa fa-facebook icon-border facebook"> </a></li>
                        <li><a href="@Url.Action("index","website")#" class="fa fa-twitter icon-border twitter"> </a></li>
                        <li><a href="@Url.Action("index","website")#" class="fa fa-google-plus icon-border googleplus"> </a></li>

                    </ul>
                </div>
                <iframe src="~/The Bourne Resto Bar_files/maps.html"></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <!-- /contact -->
    <!--/footer -->
    <!-- js -->
    <script type="text/javascript" src="~/The Bourne Resto Bar_files/jquery-2.1.4.min.js"></script>
    <!-- contact form -->
    <script src="~/The Bourne Resto Bar_files/jqBootstrapValidation.js"></script>

    <!-- /contact form -->
    <!-- Calendar -->
    <script src="~/The Bourne Resto Bar_files/jquery-ui.js"></script>
    <script>
				$(function() {
				$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
				});
    </script>
    <!-- //Calendar -->
    <!-- gallery popup -->
    <link rel="stylesheet" href="~/The Bourne Resto Bar_files/swipebox.css">
    <script src="~/The Bourne Resto Bar_files/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
    </script>
    <!-- //gallery popup -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/The Bourne Resto Bar_files/move-top.js"></script>
    <script type="text/javascript" src="~/The Bourne Resto Bar_files/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- flexSlider -->
    <script defer="" src="~/The Bourne Resto Bar_files/jquery.flexslider.js"></script>
    <script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
    </script>
    <!-- //flexSlider -->
    <script src="~/The Bourne Resto Bar_files/responsiveslides.min.js"></script>
    <script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
    </script>
    <!--search-bar-->
    <script src="~/The Bourne Resto Bar_files/main.js"></script>
    <!--//search-bar-->
    <!--tabs-->
    <script src="~/The Bourne Resto Bar_files/easy-responsive-tabs.js"></script>
    <script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
    </script>
    <!--//tabs-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
    </script>

    <div class="arr-w3ls">
        <a href="@Url.Action("index","website")#home" id="toTop" style="display: none;"><span id="toTopHover"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="~/The Bourne Resto Bar_files/bootstrap-3.1.1.min.js"></script>




    <a href="@Url.Action("index","website")#" id="toTop">To Top</a>
</body>
</html>
