@{
    var dt = (Convert.ToDateTime(ViewBag.dateofReservation));
    ViewBag.Title = $"Available Seats on ({dt.ToString("MM/dd/yy")})";
}

@using System.Web.UI.WebControls
@using thebourne.Helpers
@model IQueryable<thebourne.Models.Seats>



@using (Html.BeginForm("index", "home", FormMethod.Post))
{

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-4">
                    @{
                        Html.DevExpress().DateEdit(settings =>
                        {
                            settings.Name = "dateofReservation";
                            settings.Properties.Caption = "Date of Reservation";
                            settings.Width = Unit.Percentage(100);
                        }).Bind(ViewBag.dateofReservation ?? DateTime.Now).GetHtml();
                    }
                </div>
                <div class="col-lg-4">
                    @{

                        Html.DevExpress().Button(settings =>
                        {
                            settings.Name = "btnSearch";
                            settings.Text = "Search";
                            settings.UseSubmitBehavior = true;
                        }).GetHtml();
                    }
                </div>
            </div>
        </div>
    </div>
}


<div class="row margin-top-10">
    @foreach (var i in Model)
    {

        var res = i.Reservations.Any(m => m.ReservationDate == dt && m.isCancel == false);

        <form action="@Url.Action("reserve")" method="post">
            <input type="hidden" name="dateofReservation" value="@ViewBag.dateofReservation" />
            <input type="hidden" name="seatId" value="@i.Id" />
            <div class="col-lg-4 col-sm-12 col-md-4">
                <div class="panel @ReservationHelper.GetReservationClass(res)">
                    <div class="panel-heading">
                        <h5>@i.TableName @(res?"not available":"available")</h5>
                    </div>
                    <div class="panel-body">
                        <p>@i.Descriptions</p>
                    </div>
                    <div class="panel-footer">
                        
                        
                        @if (res)
                        {
                            <button class="btn btn-danger" disabled>Reserve</button>
                        }
                        else
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                <button class="btn btn-danger" >Reserve</button>
                            }
                            else
                            {
                                <a class="btn btn-danger" href="@Url.Action("login", "account", new {returnUrl = Url.Action("index")})">Reserve</a>
                            }
                        }
                        



                    </div>
                </div>
            </div>
        </form>
    }
</div>